<section>
  <h1>About Me</h1>
  <p></p>
  <center><a href="http://blog.csdn.net/jackystudio" target="_self"><img src="/images/logo.jpg" alt="Logo" border="0" title="Logo" /></a></center>
  <p></p>
  <p>A Software Engineer born for the Technology, now concentrate on Mobile development.</p>
  <p></p>
  <p>Contact Me:
		<br><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=754505629&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:754505629:13"/></a>
		<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=fusijie@vip.qq.com" style="text-decoration:none" ><img src="\images\mailtome.gif" border=0></img></a>
		</br>
  </p>
</section>