<ul class="main-navigation">
  <li><a href="{{ root_url }}/">博客</a></li>
  <li><a href="{{ root_url }}/blog/archives">目录</a></li>
  <li><a href="{{ root_url }}/blog/projects">项目</a></li>
  <li><a href="{{ root_url }}/tag-cloud/">标签</a></li>
  <li><a href="https://github.com/fusijie" target="_blank">Github</a></li>
  <li><a href="http://www.cocos2d-x.com.cn/Cocos2dx-Release-Note" target="_blank">Cocos2d-x 发布说明</a></li>
  <li><a href="https://github.com/fusijie/Cocos2dx-Resource" target="_blank">Cocos2d-x 资料大全</a></li>
</ul>
